.footer-container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
}
.footer-box {
  background: var(--secondary);
}
.footer-content {
  display: inline-flex;
  justify-content: space-between;
  padding: 50px 140px;
  color: white;
  width: 100%;
}
.copy-rignt {
  background: var(--blue2);
  color: #9da7b2;
  text-align: center;
  padding: 10px 0px;
}
.logo-group-footer {
  display: inline-flex;
}
.description-box {
  display: flex;
  flex-direction: column;
}
.brand-logo-footer {
  align-self: flex-start;
  padding-top: 10px;
}
.brand-logo-footer-img {
  width: 80%;
  min-width: 100px;
}
.logo-text-footer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.social-box {
  display: inline-flex;
  margin-top: 20px;
}
.social-box-item {
  width: 40px;
  margin-right: 10px;
}
.footer-title {
  margin-bottom: 10px;
}
.footer-link-item {
  margin: 10px 0px;
  color: #b3c0cb;
}
.footer-link-item:hover {
  color: white;
  cursor: pointer;
}
.payment-img-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.payment-img-item{
  width: 50px;
  margin-right: 10px;
}
@media (max-width: 412px) {
  .customer-support,
  .footer-link,
  .payment-group {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer-content {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
