.home-container {
  margin-top: 50px;
}
.home-centered {
  margin: var(--margin-side);
}
.intro-text {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 140px;
  color: black;
  color: var(--primary);
  width: 50%;
}
.intro-text .intro-text-title {
  font-size: 50px;
  font-weight: bold;
}
.intro-text .intro-text-description {
  margin-bottom: 20px;
}
.video-intro {
  display: inline-flex;
  justify-content: space-between;
  margin: 20px 0px 10px 0px;
}
.video-frame,
.video-description {
  width: 49%;
}
.benefit-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.feature-group,
.benefit-group {
  margin: 10px 0px;
}
.benefit-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.benefit-item {
  width: 200px;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
}
.benefit-text {
  text-align: center;
}
.benefit-item img {
  width: 120px;
  align-self: center;
}
.parallax {
  background-image: url(../images/img-parallax.png);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
}
.parallax-text-group {
  margin: 0px 280px;
  width: 30%;
  color: white;
  padding-top: 40px;
}
.customer-group {
  margin: 10px 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.customer-img-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0px;
  width: 80%;
}
.customer-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
.customer-img:hover {
  transform: scale(1.1);
}
.customer-img-1 {
  background-image: url(../images/customer-logo/customer-1-wb.png);
}
.customer-img-1:hover {
  background-image: url(../images/customer-logo/customer-1.png);
}
.customer-img-2 {
  background-image: url(../images/customer-logo/customer-2-wb.png);
}
.customer-img-2:hover {
  background-image: url(../images/customer-logo/customer-2.png);
}
.customer-img-3 {
  background-image: url(../images/customer-logo/customer-3-wb.png);
}
.customer-img-3:hover {
  background-image: url(../images/customer-logo/customer-3.png);
}
.customer-img-4 {
  background-image: url(../images/customer-logo/customer-4-wb.png);
}
.customer-img-4:hover {
  background-image: url(../images/customer-logo/customer-4.png);
}
.customer-img-5 {
  background-image: url(../images/customer-logo/customer-5-wb.png);
}
.customer-img-5:hover {
  background-image: url(../images/customer-logo/customer-5.png);
}
.banner-bottom-home {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-image: url("../images/banner/banner-bottom-home.png");
  background-position: center;
  padding: 20px 20px;
  margin-top: 10px;
  align-items: center;
}
.banner-bottom-home .sub-title-banner{
  font-size: 30px;
  color: white;
  margin-right: 50px;
}
@media (max-width: 412px) {
  .intro-text .intro-text-title {
    font-size: 16px;
  }
  .banner-bottom-home .button-banner-box{
    width: 70% ;
  }
  .banner-bottom-home .sub-title-banner{
    font-size: 18px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .home-centered {
    margin: var(--margin-side-mb);
  }
  .intro-text {
    left: 20px;
    top: 10%;
  }
  .video-intro {
    display: flex;
    flex-direction: column;
  }
  .video-frame,
  .video-description {
    width: 100%;
  }
  .video-description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .parallax-text-group,
  .customer-group {
    margin: var(--margin-side-mb);
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 412px) {
  .intro-text .intro-text-title {
    font-size: 24px;
  }
  .banner-bottom-home .sub-title-banner{
    font-size: 24px;
  }
}
