.home-content{
  margin: 0px 140px;
}
.app-header{
  position: absolute;
  z-index: 1;
  background: transparent;
}
.slide-img{
  width: 100%;
  display:block; 
  height: auto;
}
.slick-dots{
  bottom: 5px;
}
.intro-text{
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 140px;
  color: white;
}
.video-intro{
  display: inline-flex;
}
.card-group, .benefit-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-item{
  width: 330px;
  margin: 0px 20px 20px 0px
}
.card-item img{
  width: 100%;
}
.benefit-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit-item{
  width: 200px;
  margin: 0px 20px 20px 0px
}
.benefit-item img{
  width: 100%;
}
.parallax{
  background-image: url(../images/img-parallax.png);
  min-height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-text-group{
  color: white;
}
.customer-group{
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.customer-img-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.customer-img{
  width: 70px;
  margin-left:20px
}
.customer-img img{
  width: 100%;
}
.banner-bottom img{
  width: 100%;
}
@media(max-width: 768px){
  .home-content{
    margin: 0px 20px;
  }  
}