@import "./nav.css";
@import "./footer.css";
@import "./home.css";
@import "./products.css";
@import "./cart.css";
@import "./productDetail.css";
@import "./createProduct.css";
@import "./checkout.css";
:root {
  --primary: #0575e6;
  --blue1: #4fa7ff;
  --blue2: #001123;
  --opaque-primary: #f1f9ff;
  --secondary: #001b38;
  --font-primary: #4b4b4b;
  --font-primary-light: #757575;
  --gray-line: #d1d1d1;
  --box-shadow-xm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-m: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-l: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --box-shadow-xxl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --linear-gradient-primary-lr: linear-gradient(90deg, rgba(2, 28, 122, 1) 0%, rgba(5, 117, 230, 1) 100%);
  --linear-gradient-primary-rl: linear-gradient(90deg, rgba(5, 117, 230, 1) 0%, rgba(2, 28, 122, 1) 100%);
  --linear-gradient-primary-hover-lr: linear-gradient(90deg, rgba(5, 117, 230, 1) 0%, rgba(79, 167, 255, 1) 100%);
  --linear-gradient-primary-hover-rl: linear-gradient(90deg, rgba(79, 167, 255, 1) 0%, rgba(5, 117, 230, 1) 100%);
  --linear-gradient-secondary-lr: linear-gradient(90deg, rgba(0, 27, 56, 1) 0%, rgba(3, 82, 160, 1) 100%);
  --linear-gradient-secondary-rl: linear-gradient(90deg, rgba(3, 82, 160, 1) 0%, rgba(0, 27, 56, 1) 100%);
  --margin-side: 0px 140px;
  --margin-side-mb: 0px 20px;
  --margin-side-lg: 0px 280px;
  --w-mobile-max: 412px;
  --w-tablet-max: 768px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* breadcrum */
.breadcrumb-container :not(:last-child) {
  color: var(--font-primary);
}
.breadcrumb-container :not(:last-child):hover {
  color: var(--primary);
}
.breadcrumb-container :not(:last-child):after {
  content: " > ";
}
/* slide */
.slide-img {
  width: 100%;
  display: block;
  height: auto;
}
.slick-dots {
  bottom: 5px;
}
.slick-next {
  margin-right: 40px;
}
.slick-prev {
  margin-left: 30px;
  z-index: 5;
}
.slick-next:before,
.slick-prev:before {
  font-size: 30px !important;
}
/* subcribe box */
.banner-bottom-subcribe {
  display: inline-flex;
  width: 100%;
  padding: 20px 140px;
  background-color: var(--opaque-primary);
}
.subcribe-description-box {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.subcribe-img-box img {
  margin-right: 25px;
}
.subcribe-description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.email-box{
  margin-top: 10px;
}
.email-box input {
  border: 1px solid var(--primary);
  border-radius: 50px;
  padding: 4px 10px;
  margin-right: 20px;
}
/* button */
.button-primary {
  background: var(--linear-gradient-primary-rl);
  color: white;
  border:none;
  border-radius: 50px;
  padding: 5px 20px;
  margin: 10px 0px;
}
.button-primary:hover {
  background: var(--linear-gradient-primary-hover-rl);
}
.button-default {
  background: var(--primary);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 5px 20px;
  margin: 10px 0px;
}
.button-default:hover {
  background: var(--blue1);
}
.button-primary-white {
  color: var(--primary);
  background: var(--opaque-primary);
}
.button-primary-white:hover {
  background: white;
}
/* tag */
.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-item {
  background: var(--opaque-primary);
  border: 1px solid var(--opaque-primary);
  border-radius: 4px;
  color: var(--primary);
  margin-right: 10px;
  margin-bottom: 10px;
}
.tag-item:hover {
  border: 1px solid var(--primary);
}
/* text */
.title {
  color: var(--primary);
  font-size: 24px;
  font-weight: bold;
}
.sub-title {
  font-size: 20px;
}
/* card */
.card-group-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-item {
  width: 350px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow-xm);
}
.card-item img {
  width: 100%;
}
.card-item:hover {
  box-shadow: var(--box-shadow-l);
}
@media (max-width: 412px) {
}
@media (max-width: 768px) {
  .banner-bottom-subcribe {
    padding: 20px;
  }
  .card-group-home {
    justify-content: space-around;
  }
  .subcribe-description-box {
    display: flex;
    flex-direction: column;
  }
}
