.app-header {
  width: 100%;
  background-color: #0b0353;
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.918);
  padding: 10px 10px;
  }
.app-header li {
  margin-right: 10px;
}
.app-header:hover{
  text-decoration: none;
}
.logo-box, .left, .right, .nav-menu{
  display: inline-flex;
}
.nav-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  width: 12%;
}
.login-group{
    display: inline-flex;
}