.signin-container {
  margin-top: 50px;
}
.login-form {
  padding: 50px 0px;
  margin: var(--margin-side);
}
.login-form label {
  margin-right: 50px;
  width: 100px;
}
.btn-login button {
  text-align: end;
}
